################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/NeuralNetwork_Dauphine_5A/.vs/NeuralNetwork_Dauphine_5A/v15/ipch/AutoPCH/d97ec9f1d9270e40/IMAGE.ipch
/NeuralNetwork_Dauphine_5A/.vs/NeuralNetwork_Dauphine_5A/v15/Browse.VC.opendb
